
<div class="col-12">
  <a class="new-question-button" href="/questions/new">New Question</a>
</div>
<div class="col-12 border" style="margin-top:-30px"></div>
<div class="col-12">
  <div class="col-8">
    <% @questions.each do |question| %>
    <div class="question">
      <div class="col-2">
        <div class="question-vote-count">
          <%= question.get_total_votes %>
          <span>votes</span>
        </div>
        <div class="question-total-answers">
          <%= question.get_total_answers %>
          <span>answers</span>
        </div>
        <div class="question-views">
        565 views
        </div>
      </div>
      <div class="col-10 flex">
        <div class="question-title">
        <a class="custom" href="/questions/<%= question.id %>">
          <%= question.title %>
        </a>
        </div>
        <div class="question-body">
          <%= question.body %>
        </div>
        <div class="question-tags-list">
          <ul>
            <li class="tag">c++</li>
            <li class="tag">listview</li>
            <li class="tag">automation</li>
            <li class="tag">vb6</li>
            <li class="tag">ui-automation</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4"></div>
</div>
<% end %>
