<div class="question">
  <div class="question-title">
  <%= @question.title %>
  </div>
  <div class="question-vote-count">
  <%= @question.get_total_votes %>
  </div>
  <div class="question-body">
  <%= @question.body %>
  </div>
  <div class="question-user">
    <%= @question.user.display_name %>
  </div>
  <div class="question-user-reputation">
    <%= @question.user.reputation %>
  </div>
    <% @question.comments.each do |comment| %>
      <% #need to replace with model method later   %>
    <div class="comment">
      <div class="comment-vote-count">
      <%= comment.votes.count %>
      </div>
      <div class="comment-body">
      <%= comment.body %>
        <% #need to replace with model method later %>
      </div>
      <div class="user-display-name">
      <%= comment.user.display_name %>
      </div>
      <div class="user-vote-count">
      <%= comment.user.reputation %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<hr>
ANSWERS START HERE
<div class="question-total-answers">
<%= @question.get_total_answers %>
</div>
